form {
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-group {
  /* padding: 5%; */
  margin: 0;
}

.btn {
  margin: 1rem;
}

.thead {
  text-align: center;
}
